@page
@model Gestor.Pages.Patron.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div>
    @if (Model.Producto != null && Model.Producto.Any()){
        <div class="row">
            <div class="col-6">
                <h1>Patrones</h1>
                @foreach (var producto in Model.Producto)
                {
                    <div class="patrones-square">
                        <div class="d-flex justify-content-between">
                            <label class="me-3">@producto.Nombre</label>
                            <span>@producto.Tamanio CM</span>
                            <a class="btn btn-sm btn-secondary" asp-page="./NuevoPatron" asp-route-idProducto="@producto.Id">Agregar patron</a>
                        </div>
                        <img src="./img/fotoPrueba.png" alt="Alternate Text" / style="max-width:-webkit-fill-available; ">
                    </div>
                }
            </div>
        </div>
    }else{
	    <h1 class="d-flex justify-content-center">No productos...</h1>
    }
</div>
