@page
@model Gestor.Pages.CostoMaterial.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CostoMaterial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CostoMaterial.Id" />
            <div class="form-group">
                <label asp-for="CostoMaterial.Lugar" class="control-label"></label>
                <input asp-for="CostoMaterial.Lugar" class="form-control" />
                <span asp-validation-for="CostoMaterial.Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoMaterial.Material" class="control-label"></label>
                <input asp-for="CostoMaterial.Material" class="form-control" />
                <span asp-validation-for="CostoMaterial.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoMaterial.Cantidad" class="control-label"></label>
                <input asp-for="CostoMaterial.Cantidad" class="form-control" />
                <span asp-validation-for="CostoMaterial.Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoMaterial.Costo" class="control-label"></label>
                <input asp-for="CostoMaterial.Costo" class="form-control" />
                <span asp-validation-for="CostoMaterial.Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
