@page
@model Gestor.Pages.Ingresos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ingresos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ingresos.Id" />
            <div class="form-group">
                <label asp-for="Ingresos.valor_venta" class="control-label"></label>
                <input asp-for="Ingresos.valor_venta" class="form-control" />
                <span asp-validation-for="Ingresos.valor_venta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingresos.forma_venta" class="control-label"></label>
                <input asp-for="Ingresos.forma_venta" class="form-control" />
                <span asp-validation-for="Ingresos.forma_venta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingresos.valor_hora" class="control-label"></label>
                <input asp-for="Ingresos.valor_hora" class="form-control" />
                <span asp-validation-for="Ingresos.valor_hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingresos.valor_entrega" class="control-label"></label>
                <input asp-for="Ingresos.valor_entrega" class="form-control" />
                <span asp-validation-for="Ingresos.valor_entrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
