@page
@model Gestor.Pages.Ingresos.IndexModel

@{
    ViewData["Title"] = "Ingresos";
}

<div class="primary-content">
    <div class="title-box">
        <label class="title-primary text-uppercase">Ingresos</label>
        @if (Model.Ingresos == null || !Model.Ingresos.Any())
        {
            <p>
                <a asp-page="Create">Definir</a>
            </p>
        }
        else
        {
            <p>
                <a asp-page="Edit">Editar</a>
            </p>
        }
    </div>

    <div class="ingresos-box row">
        <div class="col-12 row">
            <div class="col-2">
                <label class="text-start">
                    Valor Venta :
                </label>
            </div>
            <div class="col-4">
                @if (Model.Ingresos == null || !Model.Ingresos.Any())
                {
                    <label>0</label>
                }
                else
                {
                    <label></label>
                }
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-2">
                <label class="text-start">
                    Forma :
                </label>
            </div>
            <div class="col-4">
                @if (Model.Ingresos == null || !Model.Ingresos.Any())
                {
                    <label>Por definir</label>
                }
                else
                {
                    <label></label>
                }
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-2">
                <label class="text-start">
                    Valor Hora :
                </label>
            </div>
            <div class="col-4">
                @if (Model.Ingresos == null || !Model.Ingresos.Any())
                {
                    <label>0</label>
                }
                else
                {
                    <label></label>
                }
            </div>
        </div>
        <div class="col-12 row">
            <div class="col-2">
                <label class="text-start">
                    Valor Entrega :
                </label>
            </div>
            <div class="col-4">
                @if (Model.Ingresos == null || !Model.Ingresos.Any())
                {
                    <label>0</label>
                }
                else
                {
                    <label></label>
                }
            </div>
        </div>
    </div>
</div>

