@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.lead-view.principal {
    padding-right: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: 15px;
    font-family: "Roboto", serif;
    font-weight: 300;
    background-color: rgba(255, 246, 237, 1);
    background-repeat: no-repeat;
    background-size: auto;
   /* background-blend-mode: overlay;
    background-position:bottom center;*/
}

.pastel-white-text {
    color: #f8f3f2;
}

.light {
    font-weight: 300;
}

.regular{
    font-weight:400;
}

.bold {
    font-weight: 500;
}

.white-label{
    color:white !important; 
}

.btn-primary {
    background-color: #f9b9e0 !important;
    border-color: #f9b9e0 !important;
    border-bottom: 2px solid;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    border-bottom: 2px solid #f9f1b9 !important;
}

.btn-secondary {
    background-color: #beb2ff !important;
    border-color: #beb2ff !important;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover {
    background-color: #968ccf !important;
    border-color: #968ccf !important;
}

nav.navbar {
    position: absolute;
    right: 0;
    width: 500px;
    background: #f9b9e0;
    height:100%
}

nav .navbar-nav .nav-item{
    padding:1.5rem 0;
    border-bottom: 1px solid white;
}

nav .navbar-nav .nav-item a {
    font-weight:600;
    text-transform:uppercase;
    color:white !important;
}

nav.navbar.top {
    position:relative;
    right: initial;
    width: 100%;
}

nav.navbar.top .navbar-nav{
    flex-direction:initial;
}

nav.navbar.top .navbar-nav .nav-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, transparent, #ffcaea, transparent), linear-gradient(to bottom, transparent,#ffcaea, transparent);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transform: translateY(-50%);
    pointer-events: none;
}

nav.navbar.top .navbar-nav .nav-item:hover::before {
    opacity: 1;
}

nav.navbar.top .navbar-nav .nav-item {
    border-bottom: 0;
    position: relative;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    padding: 1.5rem;
}

nav.navbar.top .navbar-nav .nav-item a{
    position: relative;
    z-index:1000;
}

nav.navbar.top .navbar-nav .nav-item::after {
    content: "";
    display: block;
    border-right: 1px solid white;
    height: 60%;
    position: absolute;
    right: 0;
    top: 20%;
}

nav.navbar.top .navbar-nav .nav-item:last-child::after{
    display:none;
}
nav.navbar .navbar-nav .option {
    transition: .5s ease-in-out;
}

nav.navbar .navbar-nav .option:hover {
    background: #ffcaea;
}

.title-primary {
    font-family: 'PP Gatwick';
    font-weight: 700;
}

main .card-title h1.title-primary {
    color: #4c200a;
}

main .card-title h3.title-primary {
    color:#f9b9e0;
}

main .lead-view {
    padding: 2rem;
}

main .card-title .main-logo {
    width: 100%;
}

main .card-title .main-logo .logo-img {
    width: 600px;
}

.navbar.top .main-logo .logo-img{
    width:200px;
}

.examples-img{
    width:200px;
    height:250px;
    cursor:pointer;
    margin:10px;
}

@media (max-width:1530px){
    main .card-title .main-logo .logo-img{
        width:200px;
        height:200px;
    }

    .examples-img {
        width: 230px;
    }
}

.world-of-images{
    max-width:1300px;
}

.input-style {
    border: 0;
    border-bottom: 1px solid pink;
    background: transparent;
    text-align: end;
    padding-right: 40px;
    font-size: 18px;
}

.dropdown-toggle::after{
    display:none !important;
}

.navbar-nav .dropdown-menu{
    position:relative;
}

.dropdown-menu {
    background-color: transparent;
    text-align: center;
    border: 0;
    font-size: 15px;
}

.dropdown-item {
    transition: 0.5s ease-in-out;
}

.dropdown-item:hover {
    background-color: #fdcfeb;
}

.ingresos-content{
    margin:2rem 2.5rem;
}
.eliminar-punto {
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.form-group.row{
    position:relative;
}

.box-info{
    margin: 1rem 3rem;
}

.head-bar {
    padding: 1rem;
    background: #86b7fe;
    border-top-right-radius: calc(.3rem - 1px);
    border-top-left-radius: calc(.3rem - 1px);
}
.ingresos-fijos-box{
    position:relative;
}
.ingresos-variables-box {
    border-right: 3px solid #86b7fe;
}

.ingresos-fijos-box .accion-editar{
    position:absolute;
    right:1rem;
}

.info-ingreso .info-box {
    width: 300px;
    background-color: #b2dcff;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.patrones-square {
    padding: 30px;
}

.patron-square-img, .box-img-color {
    position: relative;
    width: fit-content;
    border: 10px solid white;
    border-bottom: 40px solid white;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.patron-square-img:hover, .box-img-color:hover {
    transform: scale(1.05);
}

.box-img .btn-patrones {
    right: 1rem;
    top: 10px;
}

.btn-patrones {
    position: absolute;
    right: 1rem;
    top: 50px;
}

.info-ingreso .info-box label, .info-ingreso .info-box span {
    text-shadow: 2px 2px 11px rgba(0, 0, 0, 1);
}

.info-ingreso .info-box span{
    font-size:large;
}

.info-ingreso .info-box:nth-child(2) {
    background-color: #fff6b2;
}
.info-ingreso .info-box:nth-child(3) {
    background-color: #ffb2b2;
}

.title-prod {
    font-weight: bold;
    font-size: 1.2rem;
}

.box-info .body-content {
    border: 2px solid #86b7fe;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color:white;
}
.stadistic-ingresos .box-grafico {
    width:50%;
    max-width:600px;
}

.producto-info{
    padding: 1rem;
}

.box-img-text {
    display: block;
    margin-top: 10px;
}

.box-shadow {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.img-portada {
    width: 350px;
    height:400px;
}

#editarProd input{
    width:70%;
}

.editar-img {
    display: flex;
    overflow-x: auto;
}

.editar-img .editar-img-form {
    min-width: -webkit-fill-available;
}

.tabla-materiales {
    border-color: #86b7fe;
}

.tabla-materiales thead {
    background: #86b7fe;
    color:white;
}