@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container-fluid {
padding-right:500px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: 15px;
    font-family: "Roboto", serif;
    font-weight: 300;
    background-color: #f8f3f2;
}

.pastel-white-text {
    color: #f8f3f2;
}

.light {
    font-weight: 300;
}

.regular{
    font-weight:400;
}

.bold {
    font-weight: 500;
}

nav.navbar {
    position: absolute;
    right: 0;
    width: 500px;
    background: #f9b9e0;
    height:100%
}

nav .navbar-nav .nav-item{
    padding:1.5rem 0;
    border-bottom: 1px solid white;
}

nav .navbar-nav .nav-item a {
    font-weight:600;
    text-transform:uppercase;
    color:white !important;
}

.title-primary {
    font-family: 'PP Gatwick';
    font-weight: 700;   
}

main .card-title h1.title-primary {
    color: #4c200a;
}

main .card-title h3.title-primary {
    color:#f9b9e0;
}

main .lead-view {
    padding: 2rem;
}

main .card-title .main-logo {
    width: 100%;
}

main .card-title .main-logo .logo-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.examples-img{
    width:350px;
    cursor:pointer;
    margin:10px;
}

.world-of-images{
    max-width:1300px;
}

.input-style {
    border: 0;
    border-bottom: 1px solid pink;
    background: transparent;
    text-align: end;
    padding-right: 40px;
    font-size: 18px;
}

.dropdown-toggle::after{
    display:none !important;
}

.navbar-nav .dropdown-menu{
    position:relative;
}

.dropdown-menu {
    background-color: transparent;
    text-align: center;
    border: 0;
    font-size: 15px;
}

.dropdown-item {
    transition: 0.5s ease-in-out;
}

.dropdown-item:hover {
    background-color: #fdcfeb;
}