@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.lead-view.principal {
    padding-right: 500px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-size: 15px;
    font-family: "Roboto", serif;
    font-weight: 300;
    background-color: #f8f3f2;
}

.pastel-white-text {
    color: #f8f3f2;
}

.light {
    font-weight: 300;
}

.regular{
    font-weight:400;
}

.bold {
    font-weight: 500;
}

nav.navbar {
    position: absolute;
    right: 0;
    width: 500px;
    background: #f9b9e0;
    height:100%
}

nav .navbar-nav .nav-item{
    padding:1.5rem 0;
    border-bottom: 1px solid white;
}

nav .navbar-nav .nav-item a {
    font-weight:600;
    text-transform:uppercase;
    color:white !important;
}

nav.navbar.top {
    position:relative;
    right: initial;
    width: 100%;
    height: 100px;
}

nav.navbar.top .navbar-nav{
    flex-direction:initial;
}

nav.navbar.top .navbar-nav .nav-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, transparent, #ffcaea, transparent), linear-gradient(to bottom, transparent,#ffcaea, transparent);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transform: translateY(-50%);
    pointer-events: none;
}

nav.navbar.top .navbar-nav .nav-item:hover::before {
    opacity: 1;
}

nav.navbar.top .navbar-nav .nav-item {
    border-bottom: 0;
    position: relative;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    padding: 1.5rem;
}

nav.navbar.top .navbar-nav .nav-item a{
    position: relative;
    z-index:1000;
}

nav.navbar.top .navbar-nav .nav-item::after {
    content: "";
    display: block;
    border-right: 1px solid white;
    height: 60%;
    position: absolute;
    right: 0;
    top: 20%;
}

nav.navbar.top .navbar-nav .nav-item:last-child::after{
    display:none;
}
nav.navbar .navbar-nav .option {
    transition: .5s ease-in-out;
}

nav.navbar .navbar-nav .option:hover {
    background: #ffcaea;
}

.title-primary {
    font-family: 'PP Gatwick';
    font-weight: 700;
}

main .card-title h1.title-primary {
    color: #4c200a;
}

main .card-title h3.title-primary {
    color:#f9b9e0;
}

main .lead-view {
    padding: 2rem;
}

main .card-title .main-logo {
    width: 100%;
}

main .card-title .main-logo .logo-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.navbar.top .main-logo .logo-img{
    width:150px;
}

.examples-img{
    width:350px;
    cursor:pointer;
    margin:10px;
}

@media (max-width:1530px){
    main .card-title .main-logo .logo-img{
        width:200px;
        height:200px;
    }

    .examples-img {
        width: 230px;
    }
}

.world-of-images{
    max-width:1300px;
}

.input-style {
    border: 0;
    border-bottom: 1px solid pink;
    background: transparent;
    text-align: end;
    padding-right: 40px;
    font-size: 18px;
}

.dropdown-toggle::after{
    display:none !important;
}

.navbar-nav .dropdown-menu{
    position:relative;
}

.dropdown-menu {
    background-color: transparent;
    text-align: center;
    border: 0;
    font-size: 15px;
}

.dropdown-item {
    transition: 0.5s ease-in-out;
}

.dropdown-item:hover {
    background-color: #fdcfeb;
}

.ingresos-content{
    margin:2rem 2.5rem;
}
.eliminar-punto {
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.form-group.row{
    position:relative;
}

.img-portada{
    width:450px;
}